# Prerequisites
*.d

#visual studio caches 
/.vs 

#Application Resources 
*.png
*.PNG
*.wav
*.jpeg. 
*.ttf
*.tif
*.pdb


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod
/.Data

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Library Dependencies 
./Imgui 
./packages
./include/boost
./include/Imgui
