# Prerequisites
*.d

#visual studio caches 
/.vs 


#Application Resources 

**/.wav
**/.jpeg. 
**/.ttf
**/.tif
**/.pdb


# Compiled Object files
**/.slo
**/.lo
**/.o
**/.obj

# Precompiled Headers
**/.gch
**/.pch

# Compiled Dynamic libraries
**/.so
**/.dylib
**/.dll

# Fortran module files
**/.mod
**/.smod
Data/

# Compiled Static libraries
**.lai
**/.la
**/.a
**/.lib

# Executables
*.exe
*.out
*.app


# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Debug Logs 
*.log

# Executables
*.exe
*.out
*.app

#Cmake Cache 
CMakeCache.txt
_deps/
CMakeFiles/
obj/
src/CMakeCache.txt
src/CMakeFiles/


